.parallax {
  max-width: 70%;
  height: 500px;
  position: relative;
  background: url('../images/bonus.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 30px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 30px
  }
  
  .para-text {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) translateZ(50px);
  -moz-transform: translate(-50%, -50%) translateZ(50px);
  -ms-transform: translate(-50%, -50%) translateZ(50px);
  -o-transform: translate(-50%, -50%) translateZ(50px);
  transform: translate(-50%, -50%) translateZ(50px);
  color: white;
  overflow: hidden;
  }
  
  @media (max-width: 768px) {
  
    .water {
    height: 300px;
    }
    
    .fish {
    max-width: 60%;
    }

    .parallax{
      height: 130px;
      width: 350px;
      background-size: cover;
    }
  
  }